<!DOCTYPE html>
<html>
  <head>
    <title>My App</title>
  </head>
	<body>
    <div id="content">
        <!-- This is where the root react component will get rendered -->
    </div>
    <script src="http://localhost:3000/webpack-dev-server.js"></script>
    <script src="http://localhost:3000/assets/bundle.js"></script>
	</body>
</html>
