<!DOCTYPE html>
<html>
	<head>
	    <title>Basic Property Grid</title>
	    <!-- include react -->
	</head>
	<body>
	    <div id="content">
	        <!-- this is where the root react component will get rendered -->
	    </div>

	    <script src="http://localhost:3000/webpack-dev-server.js"></script>
	    <script src="http://localhost:3000/assets/bundle.js"></script>
	</body>
</html>
